@import "tailwindcss";
@import "@nuxt/ui";


@theme {


  --color-brand-50: #fef2f2;
  --color-brand-100: #ffe1e2;
  --color-brand-200: #ffc9cb;
  --color-brand-300: #fea3a6;
  --color-brand-400: #fb6e73;
  --color-brand-500: #f34047;
  --color-brand-600: #e12128;
  --color-brand-700: #bd181e;
  --color-brand-800: #9d181d;
  --color-brand-900: #811b1f;
  --color-brand-950: #46090b;

  --color-primary: var(--color-brand-800);
  --color-secondary: #dac879;
  --color-light: #fbf8e8;
  --font-sans: 'Plus Jakarta Sans', sans-serif;


}

@utility container {
  @apply max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8;
}

@layer base {

  /* Body */
  body {
    @apply text-gray-700 text-base leading-relaxed bg-white;
  }

  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-gray-900 mb-4;
  }

  h1 {
    @apply text-4xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl lg:text-4xl;
  }

  h4 {
    @apply text-xl lg:text-2xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base uppercase tracking-wide text-gray-600;
  }

  /* Paragraph */
  p {
    @apply mb-4 leading-relaxed;
  }

  /* Links */
  .content a {
    @apply text-primary hover:text-secondary transition-colors;
  }

  /* Lists */
  .content ul {
    @apply list-disc pl-5 mb-4;
  }

  .content ol {
    @apply list-decimal pl-5 mb-4;
  }

  .content li {
    @apply mb-1;
  }

  /* Images */
  img {
    @apply max-w-full h-auto;
  }

  /* Buttons (default reset) */
  button {
    @apply focus:outline-none;
  }
}


@layer utilities {

  /* class: custom-scrollbar */
  .custom-scrollbar {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: theme(colors.gray.500 / 0.7) transparent;
  }

  /* WebKit */
  .custom-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-secondary;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full;
  }

  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    @apply bg-gray-300
  }

  /* Dark mode tweak (opsional) */
  .dark .custom-scrollbar {
    scrollbar-color: theme(colors.gray.400 / 0.6) transparent;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary
  }
}