@import "tailwindcss";
@import "@nuxt/ui";


@theme {


--color-brand-50: #fdf3f3;
--color-brand-100: #fce4e4;
--color-brand-200: #facece;
--color-brand-300: #f5acad;
--color-brand-400: #ed7c7d;
--color-brand-500: #e15253;
--color-brand-600: #ce3435;
--color-brand-700: #ad2829;
--color-brand-800: #8f2526; /* primary */
--color-brand-900: #772526;
--color-brand-950: #400f0f;

--color-red-50: #fff0f1;
--color-red-100: #ffdde0;
--color-red-200: #ffc0c5;
--color-red-300: #ff949c;
--color-red-400: #ff5764;
--color-red-500: #ff2333;
--color-red-600: #ff0013; /* secondary */
--color-red-700: #d70010;
--color-red-800: #b10310;
--color-red-900: #920a14;
--color-red-950: #500006;



  --color-primary: var(--color-brand-800);
  --color-secondary: var(--color-red-600);
  --color-accent: #cf5b35 ;
  --color-light: #fbf8e8;
  --font-sans: 'Outfit', sans-serif;
  --font-open-sans:'Open Sans', sans-serif;


}

@utility container {
  @apply max-w-[1200px] mx-auto px-4 sm:px-6 lg:px-8;
}

@layer base {

  /* Body */
  body {
    @apply text-gray-700 text-base leading-relaxed bg-white overflow-x-hidden;
  }

  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-gray-900 mb-4;
  }

  h1 {
    @apply text-4xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl lg:text-4xl;
  }

  h4 {
    @apply text-xl lg:text-2xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base uppercase tracking-wide text-gray-600;
  }

  /* Paragraph */
  p {
    @apply mb-4 leading-relaxed;
  }

  /* Links */
  .content a {
    @apply text-primary hover:text-secondary transition-colors;
  }

  /* Lists */
  .content ul {
    @apply list-disc pl-5 mb-4;
  }

  .content ol {
    @apply list-decimal pl-5 mb-4;
  }

  .content li {
    @apply mb-1;
  }

  /* Images */
  img {
    @apply max-w-full h-auto;
  }

  /* Buttons (default reset) */
  button {
    @apply focus:outline-none cursor-pointer ;
  }

  /* Sembunyikan widget default Google */
#google_translate_element,
.goog-te-banner-frame,
.goog-te-gadget,
.VIpgJd-ZVi9od-ORHb-OEVmcd.skiptranslate {
  @apply hidden invisible z-0
 }

.goog-te-banner-frame {
  display: none !important;
}

}


@layer utilities {

  /* class: custom-scrollbar */
  .custom-scrollbar {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: theme(colors.gray.500 / 0.7) transparent;
  }

  /* WebKit */
  .custom-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-secondary;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full;
  }

  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    @apply bg-gray-300
  }

  /* Dark mode tweak (opsional) */
  .dark .custom-scrollbar {
    scrollbar-color: theme(colors.gray.400 / 0.6) transparent;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary
  }
}