@import "tailwindcss";
@import "@nuxt/ui";


@theme {
    --color-primary: #9d181d;
    --color-secondary: #dac879;
    --color-light: #fbf8e8;

    --font-sans: 'Plus Jakarta Sans', sans-serif;
}

@utility container {
    @apply max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8;
}

@layer base {
  /* Body */
  body {
    @apply text-gray-700 text-base leading-relaxed bg-white;
  }

  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-gray-900 mb-4;
  }

  h1 {
    @apply text-4xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl lg:text-4xl;
  }

  h4 {
    @apply text-xl lg:text-2xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base uppercase tracking-wide text-gray-600;
  }

  /* Paragraph */
  p {
    @apply mb-4 leading-relaxed;
  }

  /* Links */
  .content a {
    @apply text-primary hover:text-secondary transition-colors;
  }

  /* Lists */
  .content ul {
    @apply list-disc pl-5 mb-4;
  }

  .content ol {
    @apply list-decimal pl-5 mb-4;
  }

  .content li {
    @apply mb-1;
  }

  /* Images */
  img {
    @apply max-w-full h-auto;
  }

  /* Buttons (default reset) */
  button {
    @apply focus:outline-none;
  }
}
